// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// body { padding-top: 50px; }

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    //padding-top: 50px;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

.bg-primary {
    background-color: #f05f40!important;
}

.bg-dark {
    background-color: #212529!important;
}

.text-white {
    color: #fff!important;
}
.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.mr-auto, .mx-auto {
    margin-right: auto!important;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240, 95, 64, 0.9);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.p-0 {
    padding: 0!important;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: 18px;
  }
.navbar {
  margin-bottom: 0px;
  padding: 8px 16px;
}
// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  //background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  padding: 0px;
  // padding-top: 15px;
  //margin-top: 51px; // accommodate the navbar
  }

/*
section {
  @extend .row;
  margin-top: 20px;
  }
*/

section {
    padding: 8rem 0;
}

// Styles for form views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation:not(:empty) {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.btn-xl {
    padding: 1.5rem 3rem;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}
.btn-red {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-danger;
}
.btn-default {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-default;
}
.btn-yellow {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-warning;
}
.btn-green {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-success;
}
.btn-fill {
  width: 100%;
}
.btn-info {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-info;
}

.field {
//  margin-top: 10px;
//  margin-bottom: 10px;
}

.bg-red {
  @extend .bg-danger;
}

.bg-green {
  @extend .bg-success;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    //font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.masthead {
    height: 100vh;
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    // background-image: url('background-header.png');
    background-image: asset-url("background-header2.jpg");
    background-position: center center;
    background-size: cover;
    color: white;
}

.masthead2 {
    //padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    // background-image: url('background-header.png');
    //background-image: url('background-header5.jpg');
    background-image: asset-url("background-header5.jpg");
    background-position: center center;
    background-size: cover;
    color: white;
}



#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  // font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F05F40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #F05F40 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  
  .container-fluid {
    max-width: 960px;
  }
  
  /*
  .navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }

  .navbar-fixed-top.scrolled .nav-link {
    color: #f05f40;
  }
  */
  
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-fixed-top.scrolled {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-fixed-top.scrolled .navbar-brand {
    color: #F05F40;
  }
  #mainNav.navbar-fixed-top.scrolled .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #f05f40;
  }
  #mainNav.navbar-fixed-top.scrolled .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-fixed-top.scrolled .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-fixed-top.scrolled .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-fixed-top.scrolled .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #F05F40;
  }
  

}

.no-wrap {
  max-width: 100%;
  width: 100%;
}

// <nav class="navbar navbar-default navbar-fixed-top scrolled" id="mainNav"><div class="container-fluid"><div class="navbar-header"><button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand nav-link" href="/en">NABITO - the open socket</a></div><div class="navbar-collapse collapse" id="navbar"><ul class="nav navbar-nav"><li class="nav-item"><a class="nav-link" href="/en/users/1/menu">Menu</a></li></ul><ul class="nav navbar-nav navbar-right"><li class="nav-item"><a class="nav-link" href="/pages/about?locale=en">About us</a></li><li class="nav-item"><a class="nav-link" href="/pages/contact?locale=en">Contact</a></li><li class="nav-item"><a class="nav-link" href="/en/users/edit">Edit account</a></li><li class="nav-item"><a class="nav-link" rel="nofollow" data-method="delete" href="/en/users/sign_out">Sign out</a></li><li class="dropdown nav-item"><a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button">Language<span class="caret"></span></a><ul class="dropdown-menu"><li><a href="/en">English</a></li><li><a href="/sk">Slovak</a></li></ul></li></ul></div></div></nav>

/*
.navbar-fixed-top {
   border-color: transparent;
   background-color: transparent;
}
*/




